<th>
    <div data-datasheet-column-title="{{ name }}"
         class="ellipsis"
         style="
                 width:{{ width }}px;
                 text-align: {{ align }};
                 ">
        {{ text }}
    </div>
</th>