<h3 class="box-title">{{ datasheet.title }}</h3>

<div class="table-responsive" data-datasheet-id="">
    <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
            {% for column in datasheet.columns %}
                {{ datasheet_column_header(column) }}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in datasheet.data.items %}
            <tr>
                {% for column in datasheet.columns %}
                    {{ datasheet_cell(column, item) }}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<hr>

{# {{ dump(datasheet) }} #}