<div class="timeline">
    {% for step in steps %}
        {% if not loop.first %}
            <div class="row my-2">
                <div class="offset-sm-2 px-5 text-secondary">
                    &darr;
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-2">
                {% if step.datetime is not null %}
                    <div class="alert alert-secondary px-3 py-2 text-end" role="alert">
                        <div class="text-muted">
                            {{ step.datetime ? step.datetime|formatDateSimple('Y-m-d H:i') }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-10">
                {% if step.isTabs %}
                    <div class="timeline-item">
                        {{ step.content|raw }}
                    </div>
                {% else %}
                    <div class="timeline-item">
                        <div class="card">
                            <div class="card-header  d-flex justify-content-between align-items-center">
                                <b>{{ step.name|translate }}</b>
                                <small class="text-muted">By Admin</small>
                            </div>
                            {% if step.content %}
                                <div class="card-body">
                                    {{ step.content|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
