{% extends '@Admin/layout.html.twig' %}

{% block page_content %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form) }}
            {% for child in form.children %}
                {{ form_row(child) }}
            {% endfor %}
            <input type="submit" class="btn btn-primary">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
