{% extends '@Admin/layout.html.twig' %}

{% block page_content %}

    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">Success</h3>
        </div>
        <div class="box-body">
            {% for actionType, total in result %}
                {% if actionType != 'errors' %}
                    {{ actionType }}: {{ total }}<br>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {% if result.errors|length %}
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Failed items:</h3>
            </div>
            <div class="box-body">
                {% for lineNumber, error in result.errors %}
                    Line #{{ lineNumber }}: {{ error }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}