{% extends '@Platform/admin/layout.html.twig' %}

{% block page_title %}
    {{ objectName }} #{{ object.id }}
{% endblock %}

{% block page_menu %}
    {% include '@Platform/admin/entity/menu.html.twig' with {object: object} %}
{% endblock %}

{% block page_body %}
    {% set hasTwigBlocks = entitySidebarName is defined and hasTwigBlocks(entitySidebarName) %}
    <div class="row">
        <div class="{{ hasTwigBlocks ? 'col-md-7' : 'col-md-12' }}">
            {% block entity_page_body %}
            {% endblock %}
        </div>
        {% if hasTwigBlocks %}
            <div class="col-md-5">
                {{ twigBlocks(entitySidebarName) }}
            </div>
        {% endif %}
    </div>
{% endblock %}