{% set singleEntityMenu = singleEntityMenu(object).items %}
{% if singleEntityMenu|length > 0 %}
    <ul class="nav nav-pills">
        {% for menuItem in singleEntityMenu %}
            <li class="nav-item">
                <a class="nav-link {{ menuItem.active ? 'active' : '' }} px-4"
                   data-page-menu-item="{{ menuItem.text|toSnakeCase }}"
                   href="{{ path(menuItem.routeName, menuItem.routeParameters) }}">{{ menuItem.text|translate }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}