{% extends '@Platform/admin/entity/layout.html.twig' %}

{% block entity_page_body %}
    <table class="table table-bordered table-hover table-striped">
        {#        {{ tag_list(object) }} #}
        {% for item in data %}
            <tr>
                <td width="200"><b>{{ item.name|translate }}:</b></td>
                <td>{{ item.value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}