<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Sticky Footer Navbar Template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/">


    <link href="{{ asset('bundles/platform/libs/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">
    <style>
    </style>

</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed navbar</a>
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
            <button class="navbar-toggler p-2" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>

                <span class="d-none fs-6 pe-1">Browse</span>
            </button>
{#            <div class="collapse navbar-collapse" id="navbarCollapse">#}
{#                <ul class="navbar-nav me-auto mb-2 mb-md-0">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#">Link</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link disabled">Disabled</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <form class="d-flex" role="search">#}
{#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                </form>#}

{#            </div>#}
        </div>
    </nav>
</header>

<div class="container-fluid pb-3 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto mt-5 pt-4">
    <div class="row flex-grow-sm-1 flex-grow-0 w-100">
        <aside id="collapseExample" class="collapse col-md-3 d-sm-block flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0">
            <div class="bg-light p-1 h-100 sticky-top">
                <ul class="nav nav-pills flex-column flex-row mb-auto justify-content-between text-truncate">
                    <li class="nav-item">
                        <a href="#" id="collapseExample2" class="nav-link px-2 text-truncate">
                            <i class="bi bi-house fs-5"></i>
                            <span class="">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-truncate">
                            <i class="bi bi-speedometer fs-5"></i>
                            <span class="">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-card-text fs-5"></i>
                            <span class="">Orders</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-bricks fs-5"></i>
                            <span class="">Products</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-truncate"><i class="bi bi-people fs-5"></i>
                            <span class="d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
            </div>
        </aside>
        <main class="col overflow-auto h-100 col-md-6 p-2">
            <div class="p-2">

            </div>
        </main>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="px-4">Place sticky footer content here.</div>
</footer>

<script src="{{ asset('bundles/platform/libs/jquery-3.6.3/jquery-3.6.3.min.js') }}"></script>
<script src="{{ asset('bundles/platform/libs/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js') }}"></script>


</body>
</html>
