{% extends '@Core/frontend/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-4">
            Books (from the twig vars):<br>
            <hr>
            {% for book in books %}
                {{ book.id }}: {{ book.title }}<br>
            {% endfor %}
        </div>
        <div class="col-4">
            Authors (loaded ajax):<br>
            <hr>
            <div id="authors">
                Loading…
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        $(function () {

            $.getJSON('/author/index', function (result) {
                $('#authors').html('');
                $.each(result.data.subjectResource, function (key, item) {
                    $('#authors').append(item.id + ': ' + item.title + '<br>');
                })
            });

        })

    </script>
{% endblock %}
