{% extends '@Admin/layout.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <div class="box-header">
                    <div class="pull-right">
                        <a href="{{ editUrl }}" class="btn btn-primary">Edit</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-stripped">
                        {% for item in objectData %}
                            <tr>
                                <td>{{ item.name }}:</td>
                                <td>{{ item.value | raw }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}