<table class="table table-bordered table-striped">
    {% if taggable %}
        {{ tag_list(object) }}
    {% endif %}
    {% for item in data %}
        <tr>
            <td width="200"><b>{{ item.name }}:</b></td>
            <td>{{ item.value }}</td>
        </tr>
    {% endfor %}
</table>