{% extends '@Admin/layout.html.twig' %}

{% block page_content %}
    {% include '@Data/crud/view.header.html.twig' %}
    <div class="row">
        <div class="col-md-7">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    {% block general_tabs %}
                        <li class="active"><a href="#general" data-toggle="tab" aria-expanded="true">General</a></li>
                        {# <li class=""><a href="#sample" data-toggle="tab" aria-expanded="false">Sample</a></li> #}
                    {% endblock %}
                </ul>
                <div class="tab-content">
                    {% block general_tabs_content %}
                        <div class="tab-pane active" id="general">
                            {% include '@Data/crud/view.fields.html.twig' %}
                        </div>
                        {# <div class="tab-pane" id="sample"></div> #}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-md-5">
            {% block sidebar_content %}
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        {% block sidebar_tabs %}
                            <li class="active"><a href="#comments" data-toggle="tab" aria-expanded="true">Comments</a>
                            </li>
                            {# <li class=""><a href="#sample" data-toggle="tab" aria-expanded="false">Sample</a></li> #}
                        {% endblock %}
                    </ul>
                    <div class="tab-content">
                        {% block sidebar_tabs_content %}
                            <div class="tab-pane active" id="comments">
                                {% include '@Data/crud/view.comments.html.twig' %}
                            </div>
                            {# <div class="tab-pane" id="sample"></div> #}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}